In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('Online_Store.csv', encoding="ISO-8859-1")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            463 non-null    object
 1   USER_ID         463 non-null    object
 2   AGE             463 non-null    int64
 3   GENDER          463 non-null    object
 4   TYPE            347 non-null    float64
 5   CREDIT_SCORE    463 non-null    int64
 6   LIFETIME        463 non-null    int64
 7   PAYMENT_METHOD  463 non-null    object
 8   TURNOVER        463 non-null    int64
 9   SENDBACK        463 non-null    bool
 10  VIDEO_AD        463 non-null    bool
 11  CONVERTED       463 non-null    int64
dtypes: bool(2), float64(1), int64(5), object(4)
memory usage: 37.2+ KB

In [12]:
df.head()

,DATE,USER_ID,AGE,GENDER,TYPE,CREDIT_SCORE,LIFETIME,PAYMENT_METHOD,TURNOVER,SENDBACK,VIDEO_AD,CONVERTED
0,2023-10-02,cardiB,27,female,NaN,3,8,bank transfer,44,False,False,0
1,2023-10-02,natalie_hershlag,42,female,NaN,4,10,BNPL,34,False,False,0
2,2023-10-02,babe_ruth,48,male,1.0,2,12,BNPL,34,False,False,0
3,2023-10-02,homlesspistachio,60,male,1.0,5,9,paypal,500,False,False,0
4,2023-10-02,chrstian_hauff,93,male,1.0,5,12,credit card,43,False,True,0

In [13]:
df = df.drop("USER_ID",axis=1)

In [14]:
df.head()

,DATE,AGE,GENDER,TYPE,CREDIT_SCORE,LIFETIME,PAYMENT_METHOD,TURNOVER,SENDBACK,VIDEO_AD,CONVERTED
0,2023-10-02,27,female,NaN,3,8,bank transfer,44,False,False,0
1,2023-10-02,42,female,NaN,4,10,BNPL,34,False,False,0
2,2023-10-02,48,male,1.0,2,12,BNPL,34,False,False,0
3,2023-10-02,60,male,1.0,5,9,paypal,500,False,False,0
4,2023-10-02,93,male,1.0,5,12,credit card,43,False,True,0

In [15]:
df.isnull().sum()

DATE                0
AGE                 0
GENDER              0
TYPE              116
CREDIT_SCORE        0
LIFETIME            0
PAYMENT_METHOD      0
TURNOVER            0
SENDBACK            0
VIDEO_AD            0
CONVERTED           0
dtype: int64

In [16]:
from sklearn.impute import SimpleImputer
numerical_cols = ['TYPE']
imputer = SimpleImputer(strategy='median')
df[numerical_cols] = imputer.fit_transform(df[numerical_cols])

In [18]:
df.isnull().sum()

DATE              0
AGE               0
GENDER            0
TYPE              0
CREDIT_SCORE      0
LIFETIME          0
PAYMENT_METHOD    0
TURNOVER          0
SENDBACK          0
VIDEO_AD          0
CONVERTED         0
dtype: int64

In [19]:
df.describe()

,AGE,TYPE,CREDIT_SCORE,LIFETIME,TURNOVER,CONVERTED
count,463.000000,463.000000,463.000000,463.000000,463.000000,463.000000
mean,42.924406,1.073434,3.764579,8.820734,182.103672,0.174946
std,15.363303,0.261130,1.119813,3.504518,192.668002,0.380332
min,21.000000,1.000000,1.000000,0.000000,31.000000,0.000000
25%,30.000000,1.000000,3.000000,8.000000,39.000000,0.000000
50%,38.000000,1.000000,4.000000,10.000000,48.000000,0.000000
75%,53.000000,1.000000,5.000000,12.000000,346.500000,0.000000
max,93.000000,2.000000,5.000000,12.000000,718.000000,1.000000

In [21]:
X = df.drop('CONVERTED',axis=1)
y = df['CONVERTED']

In [20]:
from imblearn.combine import SMOTETomek

In [22]:
smote_tomek = SMOTETomek(sampling_strategy=0.9)
X_resampled, y_resampled = smote_tomek.fit_resample(X, y)

ValueError: could not convert string to float: '2023-10-02'

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size = 0.2, random_state = 0)

df.to_csv("data_cleaned.csv", sep=",", index=False)